body {
    background-color: #eee;
}

.padding-left-15 {
    padding-left: 15%;
}

.padding-left-25 {
    padding-left: 25%;
}

.padding-right-15 {
    padding-right: 15%;
}

.padding-right-5 {
    padding-right: 5%;
}

.padding-right-10 {
    padding-right: 10%;
}

.padding-top-15 {
    padding-top: 15%;
}

.padding-top-10 {
    padding-top: 10%;
}

.padding-top-5 {
    padding-top: 5%;
}

.padding-top-20 {
    padding-top: 20%;
}

.padding-bottom-15 {
    padding-bottom: 15%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.padding-10 {
    padding: 10%;
}

.padding-15 {
    padding: 15%;
}

.padding-20 {
    padding: 20%;
}

.padding-left-5 {
    padding-left: 5%;
}

.player {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.goalkeeper {
    display: inline-block;

    margin-left: 160%;
    margin-right: 50%;
}

.line {
    height: 150px;
}

.borderless > tbody > tr > td {
    border: none;
}

.background-success {
    background-color: #5cb85c;
}

.text-white {
    color: #ffffff;
}

.activecustom {
    color: #00;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.text-green {
    color: #01DF01;
}

.text-red {
    color: red;
}

.img-market {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
}

.logo-market {
    width: 40px;
    height: 30px;
}

.img-profile {
    widht: 40px;
    height: 40px;
}

.img-lineup {
    width: 50px;
    height: 50px;
}

.navbar-default .navbar-brand{
    color:#ffffff;
}


