body{
    background-color: #eee;
}

.padding-left-15{
    padding-left: 15%;
}

.padding-right-15{
    padding-right: 15%;
}

.padding-top-15{
    padding-top: 15%;
}

.padding-top-10{
    padding-top: 10%;
}

.padding-bottom-15{
    padding-bottom: 15%;
}

.padding-15{
    padding: 15%;
}

.padding-20{
    padding: 20%;
}

.padding-left-5{
    padding-left: 5%;
}