{% extends 'master_in.html' %}
{% block home %}

    {% if hasjoin and not club %}
        <div class="row container center-block">
            <div class="col-xs-10 center padding-top-10 padding-left-15">
                <div class="alert alert-success text-center h4">
                    <p>Tu solicitud para ingresar a la liga ha sido enviada. Ahora debes esperar a que el administrador
                        te
                        acepte para poder empezar</p>

                    <p> Mientras puedes crear tu equipo</p>
                </div>
            </div>
        </div>

        <div class="row container center-block">
            <div class=" col-md-offset-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-body panel-success">
                        <div class="help-block text-center">
                            <strong>Dale un nombre a tu club para que todos lo reconozcan!
                            </strong>
                        </div>
                        <form action="/create_club/" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label for="image">Nombre del club</label>
                                <input class="form-control" type="text" placeholder="Introduzca nombre del club"
                                       name="tname">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default text-green">Crear club</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not club and not hasjoin %}
        <div class="row container center-block padding-top-10">
            <div class=" col-md-offset-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-body panel-success">
                        <div class="help-block text-center">
                            <strong>A que esperas!
                                Ingresa en una liga con tus amigos!
                                Introduce el nombre del administrador de la liga en la que deseas participar
                            </strong>
                        </div>
                        <form action="/join/" method="post">{% csrf_token %}
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Nombre del administrador"
                                       name="lgname">
                                <span class="input-group-btn">
                                     <button type="submit" class="btn btn-default text-green"><span
                                             class="fa-search fa"></span></button>
                            </div>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container center-block">
            <div class=" col-md-offset-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-body panel-success">
                        <div class="help-block text-center">
                            <strong>O si lo prefieres, <a href="/create_league/">crea tu propia liga</a> !
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if isadmin %}
        <div class="row container center-block">
            <div class=" col-md-offset-4 col-md-4">
                <div class="panel panel-success">
                    <div class="panel-body panel-success">
                        <div class="help-block text-center">
                            <p>
                                <small>Eres administrador de <strong>{{ isadmin.name }}</strong></small>
                            </p
                            <p><strong><a href="/create_league/"><span class="fa fa-gear">Editar liga</span></a>
                                <strong><a href="/check_requests/"><span
                                        class="fa fa-gear">Solicitudes para jugar</span></a></p>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if club %}

        <div class="row container center-block">
            <div class="col-md-4">
                <h3>{{ club.name }}</h3>

                <div class="panel panel-success">
                    <div class="panel-body panel-success">
                        <div class="help-block text-center">
                            <small>Tienes <strong>{{ ranking.punctuation }}</strong> puntos</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <h3>Ofertas de traspasos</h3>


                {% if not offers %}

                {% else %}
                    {% for offer in offers %}
                        <div class=" ">
                        <div class="panel panel-success">
                            <div class="panel-body panel-success">
                                <div class="col-xs-10 ">
                                    <p>
                                        <strong>{{ offer.amount }}</strong> por <a
                                            href="/player/{{ offer.player }}">{{ offer.player.name }} {{ offer.player.surname }}</a>
                                    </p>

                                    <p>
                                        <small><a class="text-warning"
                                                  href="/profile/{{ offer.buyer }}">{{ offer.buyer.club }}</a></small>
                                    </p>
                                </div>
                                <div class="col-xs-1">

                                    <p>

                                    <form action="/accept_offer/" method="post">{% csrf_token %}
                                        <button name="accept" value="{{ offer.id }}"
                                                class="fa fa-check text-green"></button>
                                    </form>
                                    <form action="/reject_offer/" method="post">{% csrf_token %}
                                        <button name="reject" value="{{ offer.id }}"
                                                class="fa fa-times text-danger"></button>
                                    </form>
                                    </p>


                                </div>


                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                </div>
            </div>


        </div>
        <div class="row center-block container panel">

            <h3>Novedades en {{ ranking.division.league }}</h3>

            <div class="col-md-12  ">
                <div class="table-responsive ">
                    <table class="table">
                        {% for new in feed %}
                            <tr>
                                <td style="border:0;">
                                    <blockquote>
                                        <p class="text-info text-info">{{ new.body }}</p>
                                        <footer class="">{{ new.time }}</footer>
                                    </blockquote>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>



    {% endif %}



{% endblock %}