{% extends 'master_in.html' %}
{% block home %}
    <div class="row container center-block">
        <p class="h2">Mercado de traspasos</p>
        {% for p in players %}


                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail">
                        <a href="/player/{{ p.player.name }}"> <img class="img-rounded img-market"
                                                                    src="{{ MEDIA_URL }}{{ p.player.image }}"></a>

                        <div class="caption text-center">
                            <h3>{{ p.player.name }} {{ p.player.surname }}</h3>

                            <p>{{ p.player.value }}€</p>

                            <p><a href="/profile/{{ p.club }}" class="small text-warning">{{ p.club }}</a></p>

                            {% if player in alreadybid.player.all %}
                                <a class="btn btn-xs btn-default text-danger" data-toggle="modal"
                                   data-target=".bs-example-modal-sm" href=""
                                   onclick="bid('{{ p.player.id }}', '{{ p.club.manager.id }}')">cancelar puja</a>

                            {% else %}
                                <a class="btn btn-success" data-toggle="modal"
                                   data-target=".bs-example-modal-sm" href=""
                                   onclick="bid('{{ p.player.id }}', '{{ p.club.manager.id }}')">Pujar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>


        {% endfor %}
    </div>

    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm ">
            <div class="modal-content ">
                <div class="form row container center-block">
                    <form class="form" action="/do_bid/" method="post">{% csrf_token %}
                        <div class="col-xs-3 ">
                            <div class="form-group padding-top-5">
                                <label>Cantidad a pujar</label>
                                <input class="form-control" type="number" placeholder="Introduzca cantidad"
                                       name="amnt">
                                <input id="playerhide" class="hidden" type="text" value=" " name="playerhide">
                                <input id="sellerhide" class="hidden" type="text" value=" " name="sellerhide">
                            </div>
                            <div class="padding-bottom-5">

                                <button type="submit" class="btn btn-sm btn-default text-green">Pujar</button>
                                <text class="text-muted small">Pulsa esc para cancelar</text>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function bid(playr, seller) {
            $("#playerhide").val(playr);
            $("#sellerhide").val(seller);

        }
    </script>

{% endblock %}
